@charset "utf-8";

/********************GKA0110**********************/
.r-width-4 {
    width: 33.33%;
    margin-right: 1px;
}

.r-width-6 {
    width: 50%;
    display: inline-block;
}

.table-4 th {
    text-align: center;
    background: #C5D9F1;
}

.table-4 tbody th {
	background: #D9D9D9;
    width: 12%;
}

.table-4 td {
    text-align: left;   
}

.table-5 th {
    text-align: center;
    background: #C5D9F1;
}

.table-5 tbody th {
	background: #D9D9D9;
    width: 12%;
}

.table-5 td {
    text-align: left;   
}

.table-common-th-10 {
    background: #D9D9D9;
    text-align: left;
    width: 12%;
}
.text-box:hover .checkbox-item{
display:block;
}
/*************************GKA0110***************************/