<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<title>AAA0110</title>

<link th:href="@{/css/jquery.datetimepicker.css}">
<link th:href="@{/css/validationEngine.jquery.css}" rel="stylesheet" />
<link th:href="@{/lib/normalize.css}" rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet">	<link th:href="@{/css/jquery-ui.css}" rel="stylesheet">
<script th:src="@{/js/jquery-3.0.0.js}"></script>
<script th:src="@{/js/jquery.validationEngine.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/const.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/shortcut-key.js}"></script>

</head>

<script type="text/javascript" th:inline="javascript">
    const baseUrl = [[${#request.getContextPath()}]];
</script>
<script>
	$(document).ready(function() {
		//Get message success
		var message = "[[${messageSuccess}]]";

		if (message != '') {
			//Show alert confirm success
			$('#message').html(message);
			//
			$("#div3").dialog({
				modal : true, //モーダル表示
				title : dialog.title, //タイトル
				buttons : {
					"OK" : function() {
						$(this).dialog("close");
						//Move to screen GBA0110
						window.location.href = baseUrl + '/GBA0110';
					}
				}
			});
		}
	});
</script>

<body>
	<!-- header-->
	<th:block th:insert="~{fragments/mansion-template :: mansion-header}"></th:block>
	<!-- end header-->

	<main> <!-- title -->
	<div class="main-header">
		<div class="title-1">マンション情報アップロード</div>
	</div>
	<!-- end title --> <!-- contents -->
	<div id="contents">

		<!-- turn back -->
		<div class="turn-back">
			<span class="column-1"><a th:href="@{/GBA0110}">メニューへ戻る</a></span>
			<button class="btn-custom-border" th:onclick="turnBack()">戻る</button>
		</div>
		<!-- end turn back -->

		<!-- text are title -->
		<div class="text-are-title">
			<span>「参照」ボタンをクリックしてアップロードするファイルを指定し、「アップロード」ボタンをクリックしてください。</span>
		</div>
		<!-- end text are title -->
		<!-- alert error in case import CSV -->
            <div class="alert-error error-margin"  id="sizediv" style="display:none;">
            </div>
        <!-- end alert error in case import CSV -->
		<!-- alert error -->
		<div class="alert-error" th:if="${message}">
			<span id="lblErrorMsg" th:utext="${message}"></span>
		</div>
		<!-- end alert error -->

		<form id="uploadMansion" class="uploadMansion" name="uploadMansion"
			th:action="@{/AAA0110/uploadMansion}" th:method="post"
			enctype="multipart/form-data">

			<!-- table 1 -->
			<div class="table">
				<table class="table-import">
					<thead>
						<tr>
							<th class="table-3-th1" colspan="2">アップロードファイル指定</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="table-common-col-2 madatory">
								アップロードファイル
								<span class="form-note">必須</span>
							</th>
							<td>
								<div class="btn-import">
									<input class="textbox-80" type="text" id="text-upload" name="text-upload" data-validation-engine="validate[required]" >
									<input type="file" name="file" id="real-file" hidden="hidden" >
									<div class="btn-custom-border" onclick="uploadFileImg('text-upload','real-file')">参照</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- end table 1 -->

			<!-- btn mid -->
			<div class="btn-middle">
				<input type="button" class="btn btn-black btn-register" id="file" value="アップロード"></input>
			</div>
			<!-- end btn mid -->

		</form>

		<div class="btn-margintop-100">
			<button class="btn-custom-border"
				th:onclick="turnBack()">戻る</button>
		</div>
		<!-- end turn back bottom -->
		
  	 	<input type="hidden" id="fileMaxSize" name="fileMaxSize" th:value="${fileMaxSize}"/>

	</div>
	<!-- end contents --> 
	</main>
	<div id="div3" style="display: none;">
		<p id="message"></p>
	</div>
	<!-- footer -->
	<th:block th:include="/fragments/main-footer" />
	<!-- end footer -->

	<!-- js -->
	<script th:src="@{/js/AAA0110.js}"></script>
	<!-- end js -->

</body>

</html>