
<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  lang="ja"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <title>GIA0110</title>
    <link th:href="@{/lib/normalize.css}" rel="stylesheet" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" />
    <link th:href="@{/css/validationEngine.jquery.css}" rel="stylesheet" />
    <script th:src="@{/js/jquery-3.0.0.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <link th:href="@{/css/jquery.datetimepicker.css}" rel="stylesheet" />

    <script type="text/javascript">
      var noticeNo = "[[${noticeNo}]]";
      const baseUrl = "[[${#request.getContextPath()}]]";
      const APARTMENT_ID = "[[${mansionInfo.apartmentId}]]";
      const linkAddress = "[[${linkAddress}]]";
      var chkTermsConditionsVal = "[[${userRegistration.chkTermsConditions}]]";
    </script>
  </head>

  <body>
    <!-- header -->
    <th:block
      th:insert="~{fragments/mansion-template :: mansion-header}"
    ></th:block>
    <!-- end header -->

    <!-- main -->
    <main>
      <!-- title -->
      <div class="main-header">
        <div class="title-1">督促通知登録</div>
      </div>
      <!-- end title -->
      <form novalidate
        th:action="@{/GIA0110/submit}"
        th:object="${userRegistration}"
        th:name="userRegistrationForm"
        id="form"
        class="user-register"
        method="post"
        enctype="multipart/form-data"
      >
        <!-- content -->
        <div id="contents">
          <!-- turn back -->
          <div class="form-group" style="justify-content: space-between;">
            <!-- content button turn back and message error when search -->
            <div class="turn-back">
              <span class="column-1"
                ><a th:href="@{/GBA0110}">メニューへ戻る</a></span
              >

              <button
                type="button"
                id="btnBack1"
                class="btn-custom-border back-previous-screen"
              >
                戻る
              </button>
            </div>
          </div>
          <!-- end turn back -->

          <!-- text are title -->
          <div class="text-are-title">
            <span
              >督促通知内容を入力し、「登録」ボタンをクリックしてください。</span
            >
            <br />
            <span>通知書の出力イメージは</span>
            <a id="helpPathID" href="javascript: void(0)"><u>こちら</u></a>
            <span>から確認してください。</span>
          </div>
          <!-- end text are title -->

          <!-- Error area -->
          <div class="alert-error" id="errorMessageDiv" th:if="${errorMessage}">
            <span>
            	<th:block th:each="item : ${errorMessage}">
					<p th:utext="${item}">
				</th:block>
            </span>
          </div>

          <div class="popup-error1" id="popup-error1" th:if="${popupError1}"></div>
          <div class="popup-error2" id="popup-error2" th:if="${popupError2}"></div>
          <div
            class="directReport"
            id="directReport"
            th:if="${directReport}"
          ></div>
          <div
            style="display: none"
            class="noticeNo"
            id="noticeNo"
            th:text="${noticeNo}"
          ></div>
          <!-- End Error area -->

          <!-- table 1 	-->
          <th:block
            th:insert="~{fragments/mansion-template :: mansion-info}"
          ></th:block>
          <!-- end table 1 -->

          <!-- table 2 -->
          <div class="table">
            <table class="table-base-information">
              <thead>
                <tr>
                  <th class="table-common-title" colspan="2">督促通知内容</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="table-common-col-2 madatory">
                    様式名
                    <span class="form-note">必須</span>
                  </th>
                  <td>
                    <input
                      type="text"
                      th:field="*{txtAppendixNo}"
                      tabindex="1"
                      name="{txtAppendixNo}"
                      class="text-input-1"
                    />
                  </td>
                </tr>



                <tr>
                  <th class="table-common-col-2 madatory">
                    文書番号
                    <span class="form-note">必須</span>
                  </th>
                  <td>
                    <input
                      type="text"
                      th:field="*{txtDocumentNo}"
                      tabindex="2"
                      name="{txtDocumentNo}"
                      class="text-input-1"
                    />
                  </td>
                </tr>

                <tr>
                  <th class="table-common-col-2 madatory">
                    通知年月日
                    <span class="form-note">必須</span>
                  </th>
                  <td class="text-date">
                    <span class="span-lineheight17"
                      >通知書には和暦で表示されます。<br
                    /></span>

                    <input
                      type="text"
                      th:field="*{calNoticeDate}"
                      tabindex="3"
                      name="{calNoticeDate}"
                    />
                    <img
                      id="calNoticeDateButton"
                      th:src="@{/images/icon-calendar.svg}"
                      alt="Choose"
                      title="Choose"
                    />
                  </td>
                </tr>

                <tr>
                  <th class="table-common-col-2">
                    <div class="form-lable">督促通知書種別</div>
                  </th>
                  <td>
                    <label th:text="*{lblSupervisedNoticeTypeCode}"></label>
                    <input
                      type="hidden"
                      th:field="*{lblSupervisedNoticeTypeCode}"
                    />
                  </td>
                </tr>

                <tr>
                  <th class="table-common-col-2 madatory">
                    通知書宛先
                    <span class="form-note">必須</span>
                  </th>
                  <td>
                    <div class="checkbox-div">
                      <div
                        th:each="item, iterStat : *{lstMailingCode}"
                        class="radio-and-label r-width-2"
                        th:tabindex="${4+ iterStat.index}"
                      >
                        <input
                          type="radio"
                          th:field="*{rdoMailingCode}"
                          name="rdoMailingCode"
                          class="radio-items"
                          th:id="'radio-' + ${iterStat.index +1  }"
                          th:value="${item.value}"
                        />
                        <label
                          th:for="'radio-' + ${iterStat.index +1 }"
                          th:text="${item.label}"
                        >
                        </label>
                        <input
                          type="hidden"
                          th:field="*{lstMailingCode[__${iterStat.index}__].value}"
                        />
                        <input
                          type="hidden"
                          th:field="*{lstMailingCode[__${iterStat.index}__].label}"
                        />
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <th class="table-common-col-2 madatory">
                    宛先(マンション名)
                    <span class="form-note">必須</span>
                  </th>

                  <td class="text-are">
                    <input
                      type="text"
                      tabindex="15"
                      class="text-input-1"
                      th:classappend="*{rdoMailingCode} != 'その他' ? 'disabledItem'"
                      th:field="*{txtRecipientNameApartment}"
                      name="{txtRecipientNameApartment}"
                    />
                  </td>
                </tr>

                <tr>
                  <th class="table-common-col-2 madatory">
                    宛先(氏名等)
                    <span class="form-note">必須</span>
                  </th>

                  <td class="text-are">
                    <input
                      type="text"
                      class="text-input-1"
                      tabindex="16"
                      th:classappend="*{rdoMailingCode} != 'その他'   ?  'disabledItem'"
                      th:field="*{txtRecipientNameUser}"
                      name="{txtRecipientNameUser}"
                    />
                  </td>
                </tr>

                <tr>
                  <th class="table-common-col-2 madatory">
                    発信者名
                    <span class="form-note">必須</span>
                  </th>

                  <td class="text-are">
                    <input
                      type="text"
                      tabindex="17"
                      class="text-input-1"
                      th:field="*{txtSender}"
                      name="{txtSender}"
                    />
                  </td>
                </tr>

                <tr>
                  <th class="table-common-col-2 madatory">
                    本文中宛先1
                    <span class="form-note">必須</span>
                  </th>

                  <td class="text-are">
                    <input
                      type="text"
                      tabindex="18"
                      class="text-input-1"
                      th:field="*{txtTextAdress1}"
                      name="{txtTextAdress1}"
                    />
                  </td>
                </tr>

                <tr>
                  <th class="table-common-col-2 madatory">
                    根拠条文
                    <span class="form-note">必須</span>
                  </th>
                  <td>
                         第
                    <label th:text="*{lblEvidenceBar}"></label>
                       条      第
                    <input type="hidden" th:field="*{lblEvidenceBar}" />

                    <div class="select-small">
                      <select
                        id="lstEvidenceNo"
                        class="select-search disabledItem"
                        tabindex="19"
                        th:field="*{lstEvidenceNo}"
                        name="{lstEvidenceNo}"
                      >
                      	<option value="" label=""   >
                      	</option>
                        <option
                          th:each="code : *{lstEvidenceNoCode}"
                          th:value="${code.value}"
                          th:text="${code.label}"
                        ></option>
                      </select>
                      <div th:each="item, iterStat : *{lstEvidenceNoCode}">
                        <input
                          type="hidden"
                          th:field="*{lstEvidenceNoCode[__${iterStat.index}__].value}"
                        />
                        <input
                          type="hidden"
                          th:field="*{lstEvidenceNoCode[__${iterStat.index}__].label}"
                        />
                      </div>
                    </div>
                    項
                  </td>
                </tr>

                <tr>
                  <th class="table-common-col-2">
                    <div class="form-lable">期限に関する規定</div>
                  </th>

                  <td>
                    <label
                      id="lblPeriodEvidenceLabel"
                      th:text="*{lblPeriodEvidence}"
                    ></label>
                    <input
                      id="lblPeriodEvidenceInput"
                      th:field="*{lblPeriodEvidence}"
                      type="hidden"
                      name="{lblPeriodEvidence}"
                    />
                  </td>
                </tr>

                <tr th:if ="*{lblSupervisedNoticeTypeCode} == '1回目用'? false : true">
                  <th class="table-common-col-2">
                    <div class="form-lable">前回通知年月日</div>
                  </th>

                  <td>
                  <label
                      th:utext="通知書には和暦で表示されます。  + '&lt;br /&gt;'"
                    ></label>
                    <label
                      id="lblLastNoticeDate"
                      th:utext="*{lblLastNoticeDate}"
                    ></label>
                    <input type="hidden" th:field="*{lblLastNoticeDate}" />
                  </td>
                </tr>

                <tr th:if ="*{lblSupervisedNoticeTypeCode} == '1回目用'? false : true">
                  <th class="table-common-col-2">
                    <div class="form-lable">前回文書番号</div>
                  </th>

                  <td>
                    <label
                      id="lblLastDocumentNo"
                      th:text="*{lblLastDocumentNo}"
                    ></label>
                    <input type="hidden" th:field="*{lblLastDocumentNo}" />
                  </td>
                </tr>

                <tr>
                  <th class="table-common-col-2 madatory">
                    本文中宛先2
                    <span class="form-note">必須</span>
                  </th>
                  <td class="text-are">
                    <input
                      type="text"
                      tabindex="30"
                      class="text-input-1"
                      th:field="*{txtTextAdress2}"
                      name="txtTextAdress2"
                    />
                  </td>
                </tr>

                <tr>
                  <th class="table-common-col-2">
                    <div class="form-lable">所在地</div>
                  </th>
                  <td>
                    <label th:text="*{lblAddress}"></label>
                    <input type="hidden" th:field="*{lblAddress}" />
                  </td>
                </tr>

                <tr>
                  <th class="table-common-col-2">
                    <div class="form-lable">マンション名</div>
                  </th>
                  <td>
                    <label th:text="*{lblApartmentName}"></label>
                    <input type="hidden" th:field="*{lblApartmentName}" />
                  </td>
                </tr>

                <tr>
                  <th class="table-common-col-2">
                    <div class="form-lable">届出様式名</div>
                  </th>
                  <td>
                    <label id="lblNotificationFormatNameLabel" th:text="*{lblNotificationFormatName}"></label>
                     <input
                      id="lblNotificationFormatNameInput"
                      th:field="*{lblNotificationFormatName}"
                      type="hidden"
                      name="{lblNotificationFormatNameInput}"
                    />
                    
             
                  </td>
                </tr>

                <tr>
                  <th class="table-common-col-2 madatory">
                    提出期限
                    <span class="form-note">必須</span>
                  </th>

                  <td class="text-date">
                    <span class="span-lineheight17"
                      >通知書には和暦で表示されます。<br
                    /></span>
                    <input
                      type="text"
                      name="{calNotificationTimelimit}"
                      tabindex="31"
                      th:field="*{calNotificationTimelimit}"
                    />
                    <img
                      class="ui-datepicker-trigger correspondDate"
                      id="calNotificationTimelimitButton"
                      th:src="@{/images/icon-calendar.svg}"
                      alt="Choose"
                      title="Choose"
                    />
                    
                    
                  </td>
                </tr>

                <tr>
                  <th class="table-common-col-2 madatory">
                    担当・連絡先
                    <span class="form-note">必須</span>
                  </th>

                  <td class="text-are">
                    <textarea rows="4" tabindex="32" th:field="*{txaContact}">
                    </textarea>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- end table 2 -->

          <div class="text-box" tabindex="33">
            <input
              type="checkbox"
              class="checkbox-item"
              th:name="chkTermsConditions"
              id="chkTermsConditions"
              th:value="2"
            />
            <label for="chkTermsConditions">入力内容を確認しました</label>
          </div>
          <div class="btn-middle">
            <input
                tabindex="34"
              type="button"
              name="btnNewRegistration"
              id="btnNewRegistration"
              class="btn btn-black"
              onclick="submitNewRegistration()"
              value="登録"
            >
          </div>

          <!-- turn back bottom -->
          <div style="margin-top: 80px;" class="turn-back-bottom">
            <button class="btn-custom-border back-previous-screen ">
              戻る
            </button>
          </div>
          <!-- end turn back bottom -->
        </div>

        <input
          type="hidden"
          th:field="*{supervisedNoticeNo}"
          name="{supervisedNoticeNo}"
          class="text-input-1"
        />

      
        <input
          type="hidden"
          th:field="*{newestNotificationNo}"
          name="{newestNotificationNo}"
          class="text-input-1"
        />

        <input
          type="hidden"
          th:field="*{recipientNameInCaseAddressIsIndividualOwner}"
          name="{recipientNameInCaseAddressIsIndividualOwner}"
          class="text-input-1"
        />

        <input
          type="hidden"
          th:field="*{supervisedNoticeCount}"
          name="{supervisedNoticeCount}"
          class="text-input-1"
        />
        
         <input
          type="hidden"
          th:field="*{txaContactMaxLength}"
          name="{txaContactMaxLength}"
          class="text-input-1"
        />
        
        <input
          type="hidden"
          th:field="*{contactIndentionMax}"
          name="{contactIndentionMax}"
          class="text-input-1"
        />

        <!-- end content -->
      </form>

      <form
        th:action="@{/GJA0120/show}"
        id="backToPreviousScreen"
        method="POST"
      >
        <input type="hidden" name="apartmentId" />
      </form>
      
       <form
        th:action="@{/GJA0110/show}"
        id="nextScreen"
        method="POST"
      >
      </form>
    </main>
    <form th:action="@{/GIA0110/report}" id="submitFormReport" method="POST" target="report">
        <input type="hidden" name="supervisedNoticeNoForReport"/>
    </form>
    <div id="div3" style="display: none;">
      <p>confirm message?</p>
    </div>
    <!-- end main -->

    <!-- footer -->
    <th:block th:include="/fragments/main-footer" />
    <!-- end footer -->

    <!-- js -->
    <script th:src="@{/js/jquery.datetimepicker.full.min.js}"></script>
    <script th:src="@{/js/const.js}"></script>
    <script
      th:src="@{/js/jquery.validationEngine.js}"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script th:src="@{/js/main.js}"></script>

    <script th:src="@{/js/GIA0110.js}" charset="UTF-8"></script>

    <!-- end js -->
  </body>
</html>
