<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <title>GJA0120</title>
    <link th:href="@{/lib/normalize.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet">
    <link th:href="@{/css/jquery.datetimepicker.css}" rel="stylesheet">
    <link th:href="@{/css/validationEngine.jquery.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.0.0.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        const baseUrl = [[${#request.getContextPath()}]];
    </script>

</head>

<body>
<!-- header -->
<th:block th:insert="~{fragments/mansion-template :: mansion-header}"></th:block>
<!-- end header -->

<main>
    <!-- title -->
    <div class="main-header">
        <div class="title-1">
            マンション情報詳細
        </div>
    </div>
    <!-- end title -->
    <div id="contents">
        <div class="turn-back">
            <span class="column-1"><a th:href="@{/GBA0110}">メニューへ戻る</a></span>
            <button class="btn-custom-border" th:onclick="previousScreen()">戻る</button>
        </div>
        <!-- text are title -->
        <div class="alert-error" th:if="${errorMessage}">
            <div class="alert-error">
                <span id="lblErrorMsg" th:utext="${errorMessage}"></span>
            </div>
        </div>

        <div class="list-button" th:object="${btnStatusVo}">
            <div>
                <button class="btn-custom-border2 btn-export" th:disabled="*{btnNotificationActive}" th:data="*{btnNotificationActive}" th:onclick="submitNotificationRegistration(this.getAttribute('data'))">
                    届出
                </button>
                <button class="btn-custom-border2 btn-export" th:disabled="*{btnNotificationChangeActive}" th:data="*{btnNotificationChangeActive}" th:onclick="submitChangeNotification(this.getAttribute('data'))">
                    変更届出
                </button>
                <button class="btn-custom-border2 btn-export" th:classappend="*{btnAdviceShow} ? '' : 'visibility-hidden'" th:disabled="*{btnAdviceActive}" th:onclick="submitAdviceNotificationRegistration()">
                    助言通知
                </button>
                <button class="btn-custom-border2 btn-export" th:classappend="*{btnInvestigationShow} ? '' : 'visibility-hidden'" th:onclick="submitFormGGA0110()">
                    現地調査通知
                </button>
                <br/>
                <button class="btn-custom-border2 btn-export" th:disabled="*{btnDemandActive}" th:onclick="submitSupervisedNoticeRegistration()">
                    督促通知
                </button>
                <button class="btn-custom-border2 btn-export" th:disabled="*{btnLoginIdActivationActive}"
                        th:onclick="submitEnableLoginID(event)">
                    ログインID有効化
                </button>
                <button class="btn-custom-border2 btn-export"
                        th:disabled="*{btnResumeActive}" th:onclick="submitResumingUse(event)">
                    利用再開
                </button>
                <button class="btn-custom-border2 btn-export"
                        th:disabled="*{btnSuspensionActive}" th:onclick="submitUseStop(event)">
                    利用停止
                </button>
                <br/>
                <button class="btn-custom-border2 btn-export" th:if="*{btnLoginIdReissueShow}" th:onclick="submitFormGLA0110()">ログインID再発行
                </button>
            </div>
        </div>

        <div class="text-are-title-test">
            <span>最新のマンション情報を表示します。</span>
        </div>
        <div class="list-menu GJA0120-menu">
            <span class="collapse "><a id="b0" href="javascript:void(0)">マンション基本情報</a></span>
            <span class="collapse "><a id="b1" href="javascript:void(0)">ステータス情報</a></span>
            <span class="collapse "><a id="b2" href="javascript:void(0)">届出基本情報</a></span>
            <span class="collapse "><a id="b3" href="javascript:void(0)">届出情報</a></span>
            <span class="collapse "><a id="b4" href="javascript:void(0)">マンションの概要</a></span><br/>
            <span class="collapse "><a id="b5" href="javascript:void(0)">管理不全を予防するための必須事項</a></span>
            <span class="collapse "><a id="b6" href="javascript:void(0)">適正な維持管理に関する事項</a></span><br/>
            <span class="collapse "><a id="b7" href="javascript:void(0)">マンションの社会的機能の向上に資する取組に関する事項</a></span>
            <span class="collapse "><a id="b8" href="javascript:void(0)">連絡先</a></span>
            <span class="collapse "><a id="b9" href="javascript:void(0)">任意項目情報</a></span>
            <span class="collapse "><a id="b11" href="javascript:void(0)">職権訂正情報</a></span>
            <span class="collapse "><a id="b12" href="javascript:void(0)">ユーザ情報</a></span><br/>
            <span class="collapse "><a id="b13" onclick="showAll()" href="#a1">全て開く</a></span>
            <span class="collapse "><a id="b14" onclick="closeAll()" href="#">全て閉じる</a></span>
        </div>

        <!-- table 1 -->
        <th:block th:insert="~{fragments/mansion-template :: mansion-info}"></th:block>
        <!-- end table 1 -->

        <div class="main-contents-btn" th:object="${mansionStatusInfo}">

            <!-- table base information -->
            <div class="table" id="a1">
                <table class="table-base-information">
                    <thead>
                    <th class="table-common-title" colspan="2">
                        <div class="checkbox-div">
                            ステータス情報
                        </div>
                    </th>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="table-common-col-2">
                            届出状況
                        </th>
                        <td th:text="*{lblNotificationStatus}"></td>
                    </tr>
                    <tr>
                        <th class="table-common-col-2">
                            受理状況
                        </th>
                        <td th:text="*{lblAcceptedStatus}"></td>
                    </tr>
                    <tr>
                        <th class="table-common-col-2">
                            都支援対象
                        </th>
                        <td th:text="*{lblSupportStatus}"></td>
                    </tr>
                    <tr>
                        <th class="table-common-col-2">
                            督促通知
                        </th>
                        <td th:text="*{lblUrgeStatus}"></td>
                    </tr>
                    <tr>
                        <th class="table-common-col-2">
                            助言通知
                        </th>
                        <td th:text="*{lblAdviceStatus}"></td>
                    </tr>
                    <tr>
                        <th class="table-common-col-2">
                            現地調査通知
                        </th>
                        <td th:text="*{lblSurveyStatus}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- table report base information -->
            <th:block th:class="'disabledItem'"
                      th:insert="~{fragments/mansion-template :: basic-report-info}"></th:block>
            <!-- end table report base information -->

            <!-- table notification info-->
            <th:block th:class="disabledItem"
                      th:insert="~{fragments/mansion-template :: notification-info-area-common}"></th:block>
            <!-- end table notification info -->

            <!-- table overview mansion -->
            <th:block
                    th:insert="~{fragments/mansion-template :: notification-info-area-common-overview-mansion}"></th:block>
            <!-- end table overview mansion -->

            <!-- table  essebtials to prevent management failure -->
            <th:block
                    th:insert="~{fragments/mansion-template :: notification-info-area-common-essentials-to-prevent-management}"></th:block>
            <!-- end table  essebtials to prevent management failure -->

            <!-- table oppropriate maintenance -->
            <th:block
                    th:insert="~{fragments/mansion-template :: notification-info-area-common-appropriate-maintenance}"></th:block>
            <!-- end table  oppropriate maintenance -->

            <!-- table  issue improvement for social functions of mansion -->
            <th:block
                    th:insert="~{fragments/mansion-template :: notification-info-area-common-issue-improvement-social}"></th:block>
            <!-- end table  issue improvement for social functions of mansion -->

            <!-- Table  contact imformation -->
            <th:block
                    th:insert="~{fragments/mansion-template :: notification-info-area-common-contact-information}"></th:block>
            <!-- end table  contact imformation -->

            <!-- Table  optional information -->
            <th:block
                    th:insert="~{fragments/mansion-template :: notification-info-area-common-optional-information}"></th:block>
            <!-- end table  optional information -->

            <!-- table base information -->
            <div class="table " id="a11">
                <table class="table-correction-infor">
                    <thead>
                    <th class="table-common-title" colspan="2">
                        <div class="checkbox-div">
                            職権訂正情報
                        </div>
                    </th>
                    </thead>
                    <tbody id="tbody-11">
                    <th class="table-common-col-2">訂正内容</th>
                    <td>
                        <textarea rows="4" disabled th:text="${correctionDetails}"></textarea>
                    </td>
                    </tbody>
                </table>
            </div>
            <!-- end table  optional information -->

            <!-- table base information -->
            <div class="table" id='a12' th:object="${userInfo}">
                <table class="table-base-information">
                    <thead>
                    <th class="table-common-title" colspan="2">
                        <div class="checkbox-div">
                            ユーザ情報
                        </div>
                    </th>
                    </thead>
                    <tbody id="tbody-12">
                    <tr>
                        <th class="table-common-col-2">
                            ログインID
                        </th>
                        <td th:text="*{lblLoginid}"></td>
                    </tr>
                    <tr>
                        <th class="table-common-col-2">
                            ユーザ状態
                        </th>
                        <td th:text="*{lblUserStatus}"></td>
                    </tr>
                    <tr>
                        <th class="table-common-col-2">
                            利用状態
                        </th>
                        <td th:text="*{lblValidity}"></td>
                    </tr>
                    <tr>
                        <th class="table-common-col-2">
                            ログイン状態
                        </th>
                        <td th:text="*{lblLoginStatus}"></td>
                    </tr>
                    <tr>
                        <th class="table-common-col-2">
                            最終ログイン日時
                        </th>
                        <td th:text="*{lblFinalLoginDate}"></td>
                    </tr>
                    <tr>
                        <th class="table-common-col-2">
                            ログイン失敗回数
                        </th>
                        <td th:text="*{lblLoginErrorCount}"></td>
                    </tr>
                    <tr>
                        <th class="table-common-col-2">
                            最終パスワード更新日時
                        </th>
                        <td th:text="*{lblFinalPwdDate}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="turn-back-bottom">
            <button class="btn-custom-border" th:onclick="previousScreen()">戻る</button>
        </div>
    </div>
    <form th:action="@{/GJA0120/show}" id="submitRedirect" method="POST" th:object="${mansionInfo}">
        <input type="hidden" th:value="*{apartmentId}" name="apartmentId"/>
        <input type="hidden" name="activeBtn"/>
<!--         <input type="hidden" th:value="*{newestNotificationNo}" name="notificationNo"/> -->
    </form>

</main>
<!-- end main-->

<div id="div3" style="display: none;">
    <p>confirm message?</p>
</div>
<!-- footer -->
<th:block th:include="/fragments/main-footer" />
<!-- end footer -->

<!-- js -->

<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/jquery.datetimepicker.full.min.js}"></script>
<script th:src="@{/js/const.js}"></script>
<script th:src="@{/js/jquery.validationEngine.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/jquery.jpostal.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/movescreen.js}"></script>
<script th:src="@{/js/GJA0120.js}"></script>
<!-- end js -->

</body>

</html>