<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ja">
<head>
	<link th:href="@{/css/print.css}" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
	<div class="book">
		<div class="page">
			<div class="subpage">
				<div class="subpage-title-create padding-top20 font-MS-size-105" style="float: left;">
					<span class="header-span" th:text="${rp050Vo.txtAppendixNo}"></span>
				</div>
				<div class="document-date padding-top20 font-MS-size-105" >
					<span class="document-span" th:text="${rp050Vo.documentNo}"></span>
				</div>

				<div class="document-date font-MS-size-105">
					<span class="document-date-span" th:text="${rp050Vo.noticeDate}"></span>
				</div>
				<div class="document-tono font-MS-size-105">
					<span class="document-tono-span span-p-r-7" th:text="${rp050Vo.recipientNameApartment}"></span><span class="document-tono-span span-p-r-7" style="font-family: ＭＳ 明朝, PTomorrow, sans-serif; font-size: 10.5pt;" th:text="${rp050Vo.recipientNameUser}"></span><span class="document-tono-span"> 殿</span>
				</div>

				<div class="document-sign-label font-MS-size-105">
                    <span class="document-sign-span" th:text="${rp050Vo.sender}">
                    </span>
                </div>
                <div class="stamp-name font-MS-size-105" th:if="${rp050Vo.stampName} == '印'">
                    <span>印</span>
                </div>
				
				<div class="document-name">
					<span class="document-name-span">
						<b>督　促　状</b>
					</span>
				</div>
				<div class="document-info font-MS-size-11">
					<span class="document-info-date-span" th:text="${rp050Vo.textMailing1}"></span><span class="document-info-span" style="padding-left:0em;">下記マンションは、東京におけるマンションの適正な管理の促進に関する条例（平成３１年東京都条例第30号）</span><span class="document-info-date-span" style="padding-left:0em;">第</span><span class="document-info-date-span" th:text="${rp050Vo.evidenceBar}"></span><span class="document-info-date-span ">条第</span><span class="document-info-date-span" th:text="${rp050Vo.evidenceNo}"></span><span class="document-info-date-span ">号の規定によるマンション管理状況（変更等）届出書の提出が、同施行規則</span><span class="document-info-date-span  span-p-r-9" th:text="${rp050Vo.periodEvidence}"></span><span  style="padding-left:0em;">に定められた期限までにありませんでしたので、下記のとおり提出を求めます。</span>
					<br>
					<span class="document-info-span" style="padding-left:2em;">なお、提出がない場合は、条例第18第３項の規定により、</span><span class="document-info-date-span  span-p-r-9" th:text="${rp050Vo.textMailing2}"></span><span class="document-info-date-span ">に対し指導、勧告を行うことがあります。</span>
				</div>
				<div class="document-note">
					<span class="document-note-span">
						記
					</span>
				</div>
				<div class="document-note1-div font-MS-size-11">
					<span class="document-note1-span2">
						1
					</span>
					<span class="document-note1-span">
						対象となるマンション
					</span>
					<div class="mainsion-display-information padding-top7 ">
						<span class="document-note1-span note-span-title">
							所　 在 　地
						</span>
						
						<span class="document-note1-span" style="height : 2.5em;word-wrap:break-word;width:35em;text-align:left"
								th:text="${rp050Vo.address}">
							
						</span>
					</div>
					<div class="mainsion-display-information padding-top7 font-MS-size-11">
						<span class="document-note1-span note-span-title">
							マンション名
						</span>
					
						<span class="document-note1-span " style="height : 2.5em;word-wrap:break-word;width:35em;text-align:left"
							th:text="${rp050Vo.apartmentName}">
						
						</span>
					</div>
					
					
				</div>
				<div class="document-note1-div padding-top30 font-MS-size-11">
					<span class="document-note1-span2">
						2
					</span>
					<span class="document-note1-span">
						提出すべき届出書及び提出期限
					</span>
					<br/>	
					<div class="padding-top7" style="line-height: 1.5em;">
						<span class="document-note1-span-custom" style="padding-left: 2em;">
							届出書名 <label style="padding-left:1em;">東京都におけるマンションの適正な管理の促進に関する条例施行規則</label> 
						</span>
						<br/>
						<span class="document-note1-span-custom" style="padding-left:7.3em;">
							別記第　
						</span> 
						<span class="document-date-span" th:text="${rp050Vo.notificationFormatName}">
						</span> 
						<span>
						　号様式
						</span> 
					</div>
					<span class="document-note1-span-custom" style="padding-left:2em;">
						提出期限
					</span>
					<span class="document-date-span" style="padding-left:1em;" th:text="${rp050Vo.notificationTimelimit}">
					</span>
				</div>
				
				<div class="document-note1-div-custom padding-top30 font-MS-size-11">
					<span class="document-note1-span2">
						3
					</span>
					<span class="document-note1-span">
						担当・提出先
					</span>
					<br/>
					<div class="mainsion-display-information">
						<span class="document-note1-span" th:text="${rp050Vo.contact}"></span>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>