<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ja">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<title>SBA0110</title>
	<link th:href="@{/lib/normalize.css}" rel="stylesheet">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<link th:href="@{/css/jquery-ui.css}" rel="stylesheet">
 	<link th:href="@{/css/validationEngine.jquery.css}" rel="stylesheet"/>
	<script th:src="@{/js/jquery-3.0.0.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</head>
<body>
	<!-- header -->
	<th:block th:insert="~{fragments/mansion-template :: mansion-header}"></th:block>
	<!-- end header -->
	<main>
		<div class="main-header">
			<div class="title-1">
				パスワード変更
			</div>
		</div>
		<div id="contents">
			<div class="turn-back" >
				<span class="column-1"><a id="lnkReturn" href="" th:href="@{/GBA0110}" th:if="${changePassword.lnkReturn != null}">メニューへ戻る</a></span>
				<button class="btn-custom-border" th:if="${changePassword.biginingPasswordChangeFlag != '0'}" th:onclick="turnBack()">戻る</button>
			</div>
		<form th:action="@{/SBA0110/save}" th:object="${changePassword}" method="post" id="formUpdate" class="formUpdate">

			<div class="text-are-title" >
				<span th:text="${lblPasswordChangeGuide}"></span>
			</div>

			<!-- alert error -->
			<div class="alert-error" th:if="${errorsMesage != null}">
				<span> <th:block th:each="item : ${errorsMesage}">
						<p th:utext="${item}">
					</th:block>
				</span>
			</div>
			<!-- end alert error -->
			
			<div class="table">
				<table class="table-thead-1">
					<thead>
						<tr>
							<td class="table-thead-td-1" colspan="2">ログイン情報</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="table-tbody-td-1">現在のパスワード</td>
							<td>
								<div class="password-input">
									<input th:field="*{pwdPasswordNow}" type="password" class="text-input-1 pwdEyeInput" id="pwdPasswordNow" maxlength="16"
										   data-validation-engine="validate[required, custom[halfsizeAlphanumeric], minSize[8], maxSize[16]]">
									<img class="pwdEyeInputIcon" th:src="@{/images/icon-eye.png}" width=20  alt=""/>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-tbody-td-1">新しいパスワード</td>
							<td>
								<div class="password-input">
									<input th:field="*{pwdPassword}" type="password" class="text-input-1 pwdEyeInput" id="pwdPassword" maxlength="16"
										   data-validation-engine="validate[required, custom[halfsizeAlphanumeric], minSize[8], maxSize[16]]">
									<img class="pwdEyeInputIcon" th:src="@{/images/icon-eye.png}" width=20  alt=""/>
								</div>
							</td>
						</tr>
						<tr >
							<td class="table-tbody-td-1">新しいパスワード（確認）</td>
							<td class="text-colums-2">
								<div class="password-input">
									<input th:field="*{pwdPasswordConfirm}" type="password" class="text-input-1 pwdEyeInput" id="pwdPasswordConfirm" maxlength="16"
										   data-validation-engine="validate[required]">
									<img class="pwdEyeInputIcon" th:src="@{/images/icon-eye.png}" width=20  alt=""/>
								</div>
							</td>
						</tr>
						<tr id="mail" th:if="*{userTypeCode == 5 and biginingPasswordChangeFlag == '0'}">
							<td class="table-tbody-td-1">メールアドレス</td>
							<td>
								<input th:field="*{txtMail}"  type="text" class="text-input-1" id="txtMail" maxlength="120"
								data-validation-engine="validate[required, custom[halfsizeAlphanumeric], custom[email], maxSize[120]]">
							</td>
						</tr>
						<tr id="mailConfirm" th:if="*{userTypeCode == 5 and biginingPasswordChangeFlag == '0'}">
							<td class="table-tbody-td-1">メールアドレス（確認）</td>
							<td>
								<input th:field="*{txtMailConfirm}" type="text" class="text-input-1" id="txtMailConfirm" maxlength="120"
								data-validation-engine="validate[required]">
							</td>
						</tr>
					</tbody>
				</table>
				<div class="btn-bottom">
				<input type="button" class="btn btn-black btnRegister" id="button3" value="変更"></input> 
				</div>
			</div>
 		<input type="hidden" th:field="*{apartmentId}"/> 
		<input type="hidden" th:value="${success}"/>
		<input type="hidden" th:field="*{userTypeCode}"/>
		<input type="hidden" th:field="*{biginingPasswordChangeFlag}"/>
		
		</form>
			<div style="margin-top: 40px;" class="turn-back-bottom">
				 <button class="btn-custom-border" th:if="${changePassword.biginingPasswordChangeFlag != '0'}" th:onclick="turnBack()">戻る</button>
			</div>
		</div>
	<div id="div3" style="display:none;">
	<p></p>
	</div>
	<div id="div4" style="display:none;">
	<p></p>
	</div>
	<div id="success" style="display:none;">
	<p th:text="${success}"></p>
	</div>
	</main>

	<!-- footer -->
	<th:block th:include="/fragments/main-footer" />
	<!-- end footer -->
	<script th:src="@{/js/const.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script th:src="@{/js/shortcut-key.js}"></script>
	<script th:src="@{/js/jquery.validationEngine.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{/js/jquery.validationEngine-ja.js}" type="text/javascript" charset="utf-8"> </script>
	<script th:src="@{/js/password-eye.js}"></script>
	<script th:src="@{/js/SBA0110.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	const BASE_URL = [[${#request.getContextPath()}]];
	const MESSAGE_SUCCESS = [[${success}]];
	
</script>
</body>
<style>
input:read-only {
	background-color: #F5F5DC;
	}
/* main {
    min-height: 600px;
    box-sizing: border-box;
} */
</style>
</html>