<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ja">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<title>ZAA0150</title>
	<link th:href="@{/lib/normalize.css}" rel="stylesheet">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<script th:src="@{/js/jquery-3.0.0.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:inline="javascript">
        const baseUrl = [[${#request.getContextPath()}]];
        const previousScreen = [[${previousScreen}]];
	</script>
</head>

<body>

	<!-- header-->
	<th:block th:insert="~{fragments/mansion-template :: mansion-header}"></th:block>
	<!-- end header-->

	<main>
		<div class="main-header">
			<div class="title-1">エラー内容表示</div>
		</div>

		<div id="contents">
			<div class="turn-back">
				<span class="column-1"><a th:href="@{/GBA0110}">メニューへ戻る</a></span>
				<button class="btn-custom-border" onclick="turnBack()">戻る</button>
			</div>

			<div class="text-are-title">
				<span>
					アップロードしたファイルの内容にエラーがあります。<br />
					エラー内容を確認後、ファイルを修正して再度アップロードしてください。
				</span>
			</div>

			<div class="table">
				<table class="table-2">
					<thead>
						<tr>
							<th style="width: 1%;font-weight: normal;">No.</th>
							<th style="width: 9%;font-weight: normal;">行番号</th>
							<th style="width: 15%;font-weight: normal;">項目名</th>
							<th style="width: 15%;font-weight: normal;">エラーID</th>
							<th style="width: 60%;font-weight: normal;">メッセージ</th>
						</tr>

					</thead>
					<tbody>
					<tr th:if="${errorList == null or errorList.empty}">
						<td colspan="5">データが存在しません</td>
					</tr>
					<tr th:each="iterator, id : ${errorList}">
							<td th:text="${id.index + 1 == 101} ? '' : ${id.index + 1}"></td>
							<td class="right-text" th:text="${iterator.rowNum}"></td>
							<td class="left-text" th:text="${iterator.messageId}"></td>
							<td th:text="${iterator.apartmentName}"></td>
							<td class="left-text" th:utext="${iterator.messageContent}"></td>
						</tr>

					</tbody>
				</table>
			</div>

			<div class="turn-back-bottom">
				<button class="btn-custom-border" onclick="turnBack()">戻る</button>
			</div>
		</div>
	</main>

	<form th:action="@{/GEC0110}" id="submitRedirect" method="POST">
	</form>

	<!-- footer -->
	<th:block th:include="/fragments/main-footer" />
	<!-- end footer -->
    <script th:src="@{/js/const.js}"></script>
    <script th:src="@{/js/ZAA0150.js}"></script>
</body>

</html>